<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" class="bg-success">
      <h1 class="p-4 text-light text-center">Client Side PDF Generation In Angular With PDFMake</h1>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row p-4">
    <div class="col-sm-8 offset-2">
      <ul class="list-group">
        <li class="list-group-item">
          <app-payments></app-payments>
        </li>
        <li class="list-group-item">
          <app-running-statement></app-running-statement>
        </li>
        <li class="list-group-item">
          <app-arrears></app-arrears>
        </li>
        <li class="list-group-item">
          <app-billing></app-billing>
        </li>
        <li class="list-group-item">
          <app-packed></app-packed>
        </li>
      </ul>
    </div>
  </div>
</div>
